@import "colors";

$avatar-size-sm: 40px;
$avatar-size-md: 60px;
$avatar-size-lg: 100px;

#header {
  background-color: $github-dark;
  color: #ffffff;
  text-align: center;
  padding-bottom: $avatar-size-lg / 2;
}

.avatar-icon {
  width: $avatar-size-sm;
  height: $avatar-size-sm;
  padding: 0;
  margin-top: -$avatar-size-sm / 2;
  margin-left: 1.7em;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.avatar {
  width: $avatar-size-sm;
  height: $avatar-size-sm;
}

@media only screen and (min-width: 768px) {
  .avatar-icon {
    width: $avatar-size-md;
    height: $avatar-size-md;
    padding: 0;
    margin-top: -$avatar-size-md / 2;
    margin-left: 2.1em;
  }
  .avatar {
    width: $avatar-size-md;
    height: $avatar-size-md;
  }
}

@media only screen and (min-width: 1170px) {
  .avatar-icon {
    width: $avatar-size-lg;
    height: $avatar-size-lg;
    left: 50%;
    margin-top: -$avatar-size-lg / 2;
    margin-left: - $avatar-size-lg / 2;
  }
  .avatar {
    width: $avatar-size-lg;
    height: $avatar-size-lg;
  }
}

.header-name {
  font-size: 1.6em;
  font-weight: 600;
  color: #F1F1F1;
}

.header-username {
  font-size: 1.2em;
  font-weight: 300;
  color: #E1E1E1;
}
.header-username:hover {
  color: $github-green;
  font-weight: 400;
  cursor: pointer;
}

.header-bio {
  color: #E9E9E9;
}