$lang-color: var(--lang-color);

.vertical-timeline-element-content {
  background-color: #ffffff;
  color: #24292e;
  border-top: .25em solid $lang-color;
}

.vertical-timeline-element-content-arrow {
  border-right: 7px solid $lang-color;
}

.vertical-timeline-element-icon {
  background: $lang-color;
  font-weight: 700;
}

.vertical-timeline-element-date {
  width: 40px;
  height: 40px;
  font-size: .6rem;
  padding-top: calc((40px - 1.8rem) / 2);
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline-element-date {
    width: 60px;
    height: 60px;
    font-size: .8rem;
    padding-top: calc((60px - 2.4rem) / 2);
  }
}

.vertical-timeline-element-title {
  font-weight: 600;
  font-size: 1.2em;
}

.vertical-timeline-element-text {
  font-weight: normal;
  color: #586059;
}

.repo-language-color {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $lang-color;
}